#searchBtn {
}

#blue-background {
  background-color:#3c96c0;
}

#white-background {
  background-color: white;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.search-input {
  padding-top: 2px;
  padding-bottom: 2px;
}
