<!DOCTYPE html>
<html ng-app='myApp' lang="en">
<head>
	<title>Qbox Tutorial</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="lib/angular.min.js"></script>
  <script src="lib/elasticsearch.angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
</head>
	<body id="blue-background" ng-controller='SearchController'>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form class="input-group search-input" ng-submit="search()">
            <input class="form-control" ng-model='query' type='text'>
            <span class="input-group-btn">
              <button class="btn btn-default" id='searchBtn' type="submit">Search</button>
            </span>
          </form>
        </div>
      </div>

      <div class="row ">
        <div class="col-md-8 col-md-offset-2">
          <table id="white-background" class="table table-bordered">
            <thead>
              <th>Name</th> 
              <th>Animated Debut</th> 
              <th>Original Voice Actor</th> 
            </thead>
            <tbody>
              <tr ng-repeat="doc in results">
                <td>{{doc._source.name}}</td>
                <td>{{doc._source.animated_debut}}</td>
                <td>{{doc._source.original_voice_actor}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
	</body>
</html>

